#furious-tools-settings-root {
	max-width: 900px;

	input[type="text"], textarea {
		max-width: 50%;
	}
	.components-base-control + .components-base-control {
		margin-top: 16px;
	}

	.left-indent {
		margin-left: 24px;
	}

	.components-snackbar-list {
		position: relative;
		width: auto;
	}

	.components-snackbar-list__notice-container {
		padding-top: 0;
	}
}